$dark-blue: #335EEA;
$dark-gray: #506690;
$light-gray: #869AB8;
$gray: #6B7C93;
$white: #ffff;
$black: #161C2D;
$green: #4BB543;
$red: #f32013;
$yellow: #f0d500;
$soft-gray: #E5E5E5;
$gray-line: #F3F7FB;
