.article {
  display: flex;
  flex-direction: column;
  &__main-title {
    font-style: normal;
    margin-top: 2rem;
    color: $black;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
  }
  &__statement {
    font-style: normal;
    margin-top: 1.5rem;
    color: $dark-gray;
    font-weight: 900;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
  }
  &__phrase {
    text-align: justify;
  }
  &__info {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
  &__sign {
    display: flex;
    flex-direction: column;
  }
  &__portrait {
    display: block;
    display: block;
    border-radius: 50%;
    max-width: 23.06px;
  }
  &__name {
    margin-top: 5px;
    color:$black;
    font-weight: 900;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }
  &__date {
    margin-top: 4px;
    color: $dark-gray;
    font-weight: 900;
    font-size: 10px;
    line-height: 14px;
  }
  &__published {
    display: flex;
    flex-direction: column;
  }
  &__share {
    font-size: 10px;
    color:$light-gray;
  }
  &__social {
    display: flex;
  }
  &__quota {
    margin-top: 5px;
  }
  &__list {
    display: flex;
    margin-left: 5px;
  }
  &__item {
    margin-left: 5px;  
  }
  &__link {
    display: block;
  }
  &__img:hover {
    width: 85%;
  }
  &__item:first-child {
    margin-left: 0px;
  }
  &__photo {
    display: flex;
    margin-top: 1.5rem;
  }
  &__picture {
    display: block;
    width: 100%;
  }
  &__caption {
    text-align: center;
    color: $light-gray;
    font-weight: 900;
    font-size: 12px;
    line-height: 23px;
    margin-top: 0.5rem;
  }
  &__text {
    margin-top: 1rem;
    text-align: justify;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 26px;
  }
}


@media only screen and (min-width: 768px) {
  .article__statement {
    font-size: 17px;
  }
  .article__sign {
    flex-direction: row;
  }
  .article__published {
    margin-left: 0.5rem;
  }
  .article__name {
    font-size: 12px;
  }
  .article__date {
    font-size: 12px;
  }
  .article__caption {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1024px) {
  .article {
    align-items: center;
    &__main-title {
      font-size: 44px;
      line-height: 53px;
      max-width: 680px;
    }
    &__statement {
      font-size: 21px;
      line-height: 32px;
      max-width: 680px;
      margin-top: 2rem;
    }
    &__phrase {
      text-align: center;
    }
    &__text {
      max-width: 680px;
      font-size: 17px;
    }
    &__social {
      margin-left: 17rem;
    }
    &__sign {
      display: flex;
    }
    &__link {
      margin-left: 25px;
    }
    &__photo {
      margin-top: 6rem;
    }
    &__info {
      margin-top: 6rem;
    }
    &__text{
      margin-top: 5rem;
    }
  }
}

