@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Roboto";
}

.body {
  background-color: #E5E5E5;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 1rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

.header {
  padding: 1rem 0;
  overflow-x: hidden;
  z-index: 99;
  background-color: #ffff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffff;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__desktop {
  display: none;
}

.logo {
  display: flex;
}

.logo__mobile {
  display: block;
  cursor: pointer;
}

.menu {
  display: block;
}

.menu__list {
  display: flex;
}

.menu__item:last-child {
  display: block;
  margin-left: 1.875rem;
}

.menu__link--active {
  text-decoration: none;
  font-weight: 900;
  font-size: 0.9375;
  line-height: 26px;
  color: #335EEA;
  cursor: pointer;
}

.menu__link--active:hover {
  transition: all 0.3s ease-in-out;
  color: #506690;
}

.menu__link {
  text-decoration: none;
  font-weight: 900;
  font-size: 0.9375;
  line-height: 26px;
  color: #506690;
}

.menu__link:hover {
  color: #335EEA;
}

@media only screen and (min-width: 700px) {
  .logo__mobile {
    display: none;
  }
  .logo__desktop {
    display: block;
    cursor: pointer;
  }
  .menu__link {
    font-size: 1.0625rem;
  }
  .menu__item:last-child {
    margin-left: 4.5rem;
  }
  .menu__link--active {
    font-size: 1.0625rem;
  }
}

@media only screen and (min-width: 1024px) {
  .menu {
    margin-right: 20rem;
  }
  .menu__link {
    font-size: 1.200rem;
  }
  .menu__link--active {
    font-size: 1.200rem;
  }
}

@media only screen and (min-width: 1400px) {
  .menu {
    margin-right: 45rem;
  }
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  padding: 17px 5px;
  box-shadow: 0 0 10px lightgrey;
  background-color: #ffff;
}

.search__content {
  display: flex;
  cursor: pointer;
}

.search__text {
  outline: none;
  border: none;
  margin-left: 5px;
}

.search__text::placeholder {
  font-size: 17px;
  color: #161C2D;
  font-weight: 900;
  line-height: 26px;
}

.search__result {
  display: flex;
  cursor: pointer;
}

.search__counter {
  display: none;
}

.search__link {
  display: block;
  border: 1px solid #335EEA;
  border-radius: 5px;
  background-color: #335EEA;
  color: #ffff;
  font-size: 15px;
  padding: 5px 8px;
  text-decoration: none;
}

.search__link:hover {
  transition: all 0.3s ease-in-out;
  background-color: #ffff;
  color: #335EEA;
}

@media only screen and (min-width: 768px) {
  .search {
    padding: 15px 5px;
  }
  .search__text {
    margin-left: 8px;
  }
  .search__content {
    width: 80%;
  }
  .search__counter {
    color: #869AB8;
    font-weight: 900;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    display: block;
    margin: auto;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .search {
    padding: 10px;
  }
  .search__counter {
    font-size: 12px;
  }
  .search__link {
    font-size: 17px;
    padding: 8px 9px;
  }
}

.card {
  border-radius: 8px;
  background-color: #ffff;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.card__image {
  display: flex;
}

.card__photo {
  display: block;
  width: 100%;
  clip-path: polygon(82% 91%, 64% 95%, 46% 97%, 30% 98%, 16% 98%, 0 97%, 0 0, 100% 0, 100% 85%);
}

.card__header {
  position: relative;
}

.card__star {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1;
}

.card__value {
  border: 1px solid #4BB543;
  background-color: #4BB543;
  border-radius: 1px;
  border-radius: 20px;
  color: #ffff;
  padding: 5px 17px;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
}

.card__title {
  color: #161C2D;
  font-weight: 900;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: -0.01em;
  padding: 0 25.71px;
  overflow-y: hidden;
}

.card__paragraph {
  margin-top: 12px;
  font-size: 16px;
  line-height: 24px;
  color: #6B7C93;
  padding: 0 25.71px;
  overflow-y: hidden;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 86px;
  padding: 0 25.71px 30px;
}

.card__footer ::before {
  border-top: 10px solid red;
}

.card__sign {
  display: flex;
  align-items: center;
}

.card__avatar {
  display: block;
  border-radius: 50%;
  max-width: 23.06px;
}

.card__name {
  margin-left: 10px;
  font-size: 12px;
  color: #6B7C93;
  font-weight: 900;
  line-height: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.card__date {
  display: flex;
  align-items: center;
  color: #6B7C93;
  font-size: 12px;
  font-weight: 900;
  line-height: 14px;
  letter-spacing: 0.07em;
}

.card__btn {
  padding: 0 20px;
  cursor: pointer;
  margin-top: 3.5rem;
  border: 1px solid #335EEA;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__link {
  margin: auto;
  text-decoration: none;
  font-weight: 900;
  font-size: 17px;
  line-height: 26px;
  color: #335EEA;
}

.card__follow {
  display: flex;
}

.card__arrow {
  display: block;
}

@media only screen and (min-width: 768px) {
  .card__title {
    font-size: 17px;
  }
  .card__btn {
    width: 70%;
    margin: auto;
    margin-top: 3rem;
  }
  .card__paragraph {
    font-size: 16px;
  }
  .card__name {
    font-size: 15px;
  }
  .card__date {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1024px) {
  .card__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
  }
  .card__paragraph {
    max-width: 15.7956rem;
  }
  .card__name {
    line-height: 14.06px;
  }
  .card__btn {
    width: 50%;
  }
  .card__follow {
    width: 1.5rem;
    height: 1.5rem;
  }
  .card__link {
    padding: 10px 9px;
    font-weight: 900;
    font-size: 17px;
    line-height: 26px;
    color: #335EEA;
  }
}

.card__btn {
  display: none;
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-results__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-results__title {
  color: #161C2D;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: -0.01em;
}

.no-results__text {
  font-weight: 900;
  text-align: center;
  margin-top: 12px;
  font-size: 15px;
  color: #506690;
}

.no-results__btn {
  margin-top: 1.5rem;
}

.no-results__image {
  display: flex;
  margin-top: 2.5rem;
}

.no-results__photo {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .no-results__title {
    font-size: 18px;
  }
  .no-results__text {
    font-size: 17px;
  }
  .no-results__title {
    margin-top: 1rem;
  }
  .no-results__text {
    margin-top: 1.5rem;
  }
  .no-results__image {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 1024px) {
  .no-results {
    margin-top: 4rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .no-results__content {
    justify-content: center;
    margin-left: 4rem;
  }
  .no-results__title {
    margin-top: 5rem;
    font-size: 2.5rem;
  }
  .no-results__text {
    max-width: 18rem;
    margin-top: 2rem;
    font-size: 17px;
    line-height: 1.870rem;
  }
  .no-results__image {
    margin-right: 0px;
    margin-left: 0px;
    width: 60%;
  }
  .no-results__link {
    padding: 10px 8px;
    font-size: 20px;
  }
}

.article {
  display: flex;
  flex-direction: column;
}

.article__main-title {
  font-style: normal;
  margin-top: 2rem;
  color: #161C2D;
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.02em;
}

.article__statement {
  font-style: normal;
  margin-top: 1.5rem;
  color: #506690;
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

.article__phrase {
  text-align: justify;
}

.article__info {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.article__sign {
  display: flex;
  flex-direction: column;
}

.article__avatar {
  border-radius: 50%;
  max-width: 36px;
}

.article__girl-smiling {
  display: block;
}

.article__name {
  margin-top: 5px;
  color: #161C2D;
  font-weight: 900;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.article__date {
  margin-top: 4px;
  color: #506690;
  font-weight: 900;
  font-size: 10px;
  line-height: 14px;
}

.article__published {
  display: flex;
  flex-direction: column;
}

.article__share {
  font-size: 10px;
  color: #869AB8;
}

.article__social {
  display: flex;
}

.article__quota {
  margin-top: 5px;
}

.article__list {
  display: flex;
  margin-left: 5px;
}

.article__item {
  margin-left: 5px;
}

.article__link {
  display: block;
}

.article__img:hover {
  width: 85%;
}

.article__item:first-child {
  margin-left: 0px;
}

.article__photo {
  display: flex;
  margin-top: 1.5rem;
}

.article__picture {
  display: block;
  width: 100%;
}

.article__caption {
  text-align: center;
  color: #869AB8;
  font-weight: 900;
  font-size: 12px;
  line-height: 23px;
  margin-top: 0.5rem;
}

.article__text {
  margin-top: 1rem;
  text-align: justify;
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 26px;
}

@media only screen and (min-width: 768px) {
  .article__statement {
    font-size: 17px;
  }
  .article__sign {
    flex-direction: row;
  }
  .article__published {
    margin-left: 0.5rem;
  }
  .article__name {
    font-size: 12px;
  }
  .article__date {
    font-size: 12px;
  }
  .article__caption {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1024px) {
  .article {
    align-items: center;
  }
  .article__main-title {
    font-size: 44px;
    line-height: 53px;
    max-width: 680px;
  }
  .article__statement {
    font-size: 21px;
    line-height: 32px;
    max-width: 680px;
    margin-top: 2rem;
  }
  .article__phrase {
    text-align: center;
  }
  .article__text {
    max-width: 680px;
    font-size: 17px;
  }
  .article__social {
    margin-left: 16rem;
  }
  .article__sign {
    display: flex;
  }
  .article__link {
    margin-left: 25px;
  }
  .article__photo {
    margin-top: 6rem;
  }
  .article__info {
    margin-top: 6rem;
  }
  .article__text {
    margin-top: 5rem;
  }
}
